extends layout

block script
  script(src='//cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.min.js')
  script
    :coffee
      user_id = location.href.replace /^.+?(\d+)$/, "$1"
      jQuery.ajax
        method: 'get'
        url: '/user/' + user_id
        success: (user) ->
          $ ->
            $('#username').text user.username
            $('#catchphrase').text user.catchphrase
            $('#self_introduction').html marked(user.self_introduction or '', { sanitize: true })
            $('#user-icon-link').attr 'href', if user.icon? and user.icon != '' then user.icon else '/images/icon/404_smashball.png'
            $('#user-icon-img').attr 'src', if user.icon? and user.icon != '' then user.icon else '/images/icon/404_smashball.png'
            addServiceLink = (name, tag, url) ->
              $li = $('<a>').addClass('list-group-item').attr('href', url)
              $li.text ' ' + name
              $li.prepend $('<small>').text(tag)
              $('#services').append $li
            addServiceLink 'はてなブログ', '日記', "//#{user.hatenablog}.hatenablog.com" if user.hatenablog? and user.hatenablog != ''
            addServiceLink 'Zusaar', 'オフ会', "//www.zusaar.com/user/#{user.zusaar}" if user.zusaar? and user.zusaar != ''
            addServiceLink 'Twitch', '生放送', "//ja.twitch.tv/#{user.twitch}" if user.twitch? and user.twitch != ''
            addServiceLink 'Twitter', '一行宣伝', "//twitter.com/#{user.twitter}" if user.twitter? and user.twitter != ''
            addServiceLink "Skype : #{user.skype}", 'その他', '#' if user.skype? and user.skype != ''
            addServiceLink 'ニコニコ動画', 'その他', "//www.nicovideo.jp/user/#{user.nicovideo}" if user.nicovideo? and user.nicovideo > 0
        error: ->
          alert 'ユーザーデータを取得できません'
      jQuery.get '/csrfToken', (csrf) ->
        $ ->
          my_id = $.cookie 'user_id'
          follow_id = 0
          if my_id?
            jQuery.get '/follow',
              user_id: my_id
              follow_id: user_id
            , (data) ->
              if data.length > 0
                $('#nofollow').hide()
                follow_id = data[0].id
                $('#following button').on 'click', (event) ->
                  jQuery.ajax "/follow/#{ follow_id }",
                    method: 'delete'
                    data: csrf
                    success: () ->
                      $('#following').hide()
                      $('#nofollow').show()
              else
                $('#following').hide()
            $('#nofollow button').on 'click', (event) ->
              jQuery.get "/follow/create?user_id=#{ my_id }&follow_id=#{ user_id }", null, (follow) ->
                $('#nofollow').hide()
                $('#following').show()
                follow_id = follow.id
          else
            $('#following').hide()
            $('#nofollow').hide()

block content
  h2.page-header プロフィール
  .row
    .col-md-12.media.well
      a.pull-left#user-icon-link
        img.user-icon.media-object#user-icon-img
      .media-body
        h2.media-heading.hide-overflow
          span#username
          span  <small id="catchphrase"></small>
        #nofollow
          span.text-info フォローしていません
          button.btn.btn-default.btn-xs フォロー
        #following
          button.btn.btn-default.btn-xs フォロー解除

  .row
    .col-md-12
      h3 自己紹介
      p#self_introduction
      h3 連携サービス
      .list-group#services
