extends layout

block script
  script(src='//cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.min.js')
  script
    :coffee
      user_id = location.href.replace /^.+\/profile\/(.+)$/, "$1"
      jQuery.ajax
        method: 'get'
        url: '/user/' + user_id
        success: (user) ->
          $ ->
            $('#username').text user.username
            $('#catchphrase').text user.catchphrase
            $('#ssb').removeClass('btn-default').addClass('btn-primary') if user.SSB
            $('#ssbm').removeClass('btn-default').addClass('btn-primary') if user.SSBM
            $('#ssbb').removeClass('btn-default').addClass('btn-primary') if user.SSBB
            $('#ssb4').removeClass('btn-default').addClass('btn-primary') if user.SSB4
            $('#address').text user.address
            $('#self_introduction').html marked(user.self_introduction or '', { sanitize: true })
            $('#user-icon-link').attr 'href', if user.icon? and user.icon != '' then user.icon else '/images/icon/404_smashball.png'
            $('#user-icon-img').attr 'src', if user.icon? and user.icon != '' then user.icon else '/images/icon/404_smashball.png'
            addServiceLink = (name, tag, url) ->
              $li = $('<a>').addClass('list-group-item').attr('href', url)
              $li.text ' ' + name
              $li.prepend $('<small>').text(tag)
              $('#services').append $li
            addServiceLink 'はてなブログ', '日記', "//#{user.hatenablog}.hatenablog.com" if user.hatenablog? and user.hatenablog != ''
            addServiceLink 'FC2ブログ', '日記', "//#{user.fc2blog}" if user.fc2blog? and user.fc2blog != ''
            addServiceLink 'Zusaar', 'オフ会', "//www.zusaar.com/user/#{user.zusaar}" if user.zusaar? and user.zusaar != ''
            addServiceLink 'Twitch', '生放送', "//ja.twitch.tv/#{user.twitch}" if user.twitch? and user.twitch != ''
            addServiceLink 'Twitter', '一行宣伝', "//twitter.com/#{user.twitter}" if user.twitter? and user.twitter != ''
            addServiceLink 'YouTube', '動画', "//www.youtube.com/user/#{user.youtube}" if user.youtube? and user.youtube != ''
            addServiceLink 'ニコニコ動画', '動画', "//www.nicovideo.jp/user/#{user.nicovideo}" if user.nicovideo? and user.nicovideo > 0
            addServiceLink "Skype : #{user.skype}", 'その他', '#' if user.skype? and user.skype != ''
        error: ->
          alert 'ユーザーデータを取得できません'
      jQuery.get '/csrfToken', (csrf) ->
        $ ->
          jQuery.ajax '/user/me',
            dataType: 'json'
            success: (me) ->
              jQuery.get '/follow',
                user_id: me.id
                follow_id: user_id
              , (data) ->
                if data.length > 0
                  $('#nofollow').hide()
                  follow_id = data[0].id
                  $('#following button').on 'click', (event) ->
                    jQuery.ajax "/follow/#{ follow_id }",
                      method: 'delete'
                      data: csrf
                      success: () ->
                        $('#following').hide()
                        $('#nofollow').show()
                else
                  $('#following').hide()
              $('#nofollow button').on 'click', (event) ->
                jQuery.get "/follow/create?user_id=#{ me.id }&follow_id=#{ user_id }", null, (follow) ->
                  $('#nofollow').hide()
                  $('#following').show()
            error: ->
              $('#following').hide()
              $('#nofollow').hide()
      $ ->
        jQuery.getJSON '/user/me', (me) ->
          if user_id is "#{ me.id }"
            $header = $ 'h2.page-header'
            $header.append $('<small>').text(' あなたのプロフィールページです（このページは誰でも見ることが出来ます）')
      generateWidgetBlog(user_id)
      generateWidgetZusaar(user_id)
      generateWidgetTwitch(user_id)
      generateWidgetTwitter(user_id)
      generateWidgetVideo(user_id)


block content
  h2.page-header プロフィール
  .row
    .col-md-12.media.well
      a.pull-left#user-icon-link
        img.user-icon.media-object#user-icon-img
      .media-body
        h2.media-heading.hide-overflow
          span#username
          span  <small id="catchphrase"></small>
        #nofollow
          span.text-info フォローしていません
          button.btn.btn-default.btn-xs フォロー
        #following
          button.btn.btn-default.btn-xs フォロー解除

  .row
    .col-md-8
      h3 シリーズ
      .btn-group
        a.btn.btn-default.btn-xs#ssb(href='/userlist/ssb') 64
        a.btn.btn-default.btn-xs#ssbm(href='/userlist/ssbm') DX
        a.btn.btn-default.btn-xs#ssbb(href='/userlist/ssbb') X
        a.btn.btn-default.btn-xs#ssb4(href='/userlist/ssb4') 3DS / Wii U
      h3 住所
      p#address
      h3 自己紹介
      p#self_introduction
      h3 連携サービス
      .list-group#services
    .col-md-4
      h3 新着情報
      #blog.panel.panel-default
        .panel-heading
          h3.panel-title 日記
        ul.news
          li
      #event.panel.panel-default
        .panel-heading
          h3.panel-title オフ会
        ul.news
          li
      #flash.panel.panel-default
        .panel-heading
          h3.panel-title ネット対戦募集 or 一行宣伝
        ul.news
          li
      #live.panel.panel-default
        .panel-heading
          h3.panel-title 生放送
        ul.news
          li
      #video.panel.panel-default
        .panel-heading
          h3.panel-title 動画
        ul.news
          li
