extends ../layout

block script
  script
    :coffee
      return location.href = '/hello' unless $.cookie('user_id')?

      jQuery.get '/widget/hatenablog', (entries) ->
        $ul = $('#blog ul')
        for entry in entries
          $li = $('<li>')
          $li.append $('<a>').append($('<img>').addClass('user-icon').attr('src', if entry.user_icon? and entry.user_icon != '' then entry.user_icon else '/images/icon/404_smashball.png')).attr('href', '/profile/' + entry.user_id)
          date = new Date(entry.time)
          $li.append $('<a>').attr('href', entry.link).append(
            $('<h5>').text(' ' + entry.title).prepend($('<small>').text("#{date.getMonth() + 1}/#{date.getDate()}"))
            $('<p>').text(entry.summary)
          )
          $ul.prepend $li

      jQuery.get '/widget/zusaar', (entries) ->
        $ul = $('#event ul')
        for entry in entries
          $li = $('<li>')
          $li.append $('<a>').append($('<img>').addClass('user-icon').attr('src', if entry.user_icon? and entry.user_icon != '' then entry.user_icon else '/images/icon/404_smashball.png')).attr('href', '/profile/' + entry.user_id)
          date = new Date(entry.time)
          $li.append $('<a>').attr('href', entry.link).append(
            $('<h5>').text(' ' + entry.title).prepend($('<small>').text("#{date.getMonth() + 1}/#{date.getDate()}"))
            $('<p>').text(entry.summary)
          )
          $ul.prepend $li

      jQuery.get '/widget/twitch', (entries) ->
        $ul = $('#live ul')
        for entry in entries
          $li = $('<li>')
          $li.append $('<a>').append($('<img>').addClass('user-icon').attr('src', if entry.user_icon? and entry.user_icon != '' then entry.user_icon else '/images/icon/404_smashball.png')).attr('href', '/profile/' + entry.user_id)
          date = new Date(entry.time)
          $li.append $('<a>').attr('href', entry.link).append(
            $('<h5>').text(' ' + entry.title).prepend($('<small>').text(entry.game))
          )
          $ul.prepend $li

      jQuery.get '/widget/twitter', (entries) ->
        $ul = $('#flash ul')
        for entry in entries
          $li = $('<li>')

          date = new Date(entry.time)
          today = new Date
          timeDiff = (new Date).getTime() - (new Date(entry.time)).getTime()
          if timeDiff < 60 * 60 * 1000
            displayTime = Math.floor(timeDiff / (60*1000)) + ' 分前'
          else if timeDiff < 24 * 60 * 60 * 1000
            displayTime = Math.floor(timeDiff / (60*60*1000)) + ' 時間前'
          else
            displayTime = Math.floor(timeDiff / (24*60*60*1000)) + ' 日前'

          $h5 = $('<h5>').append($('<small>')
            .text(displayTime + ' ')
            .append($('<a>').attr('href', "/profile/#{entry.user_id}").text(entry.username + ' '))
          ).append($('<a>').text(entry.message).attr('href', entry.link))
          $ul.prepend $li.append($h5)

block content
  // 上部 全面
  .row
    h2.page-header 告知
    p スマブラーポータル、始まりました！
    p: small.text-info この欄では運営からのお知らせや、大規模イベントや新作情報などの重要な情報が記載されます。
  // 下部
  .row
    h2.page-header 新着情報
    // 下部 左
    .col-md-4
      #blog.panel.panel-default
        .panel-heading
          h3.panel-title 日記
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
    // 下部 中央
    .col-md-4
      #event.panel.panel-default
        .panel-heading
          h3.panel-title オフ会
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
      #flash.panel.panel-default
        .panel-heading
          h3.panel-title ネット対戦募集 or 一行宣伝
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
    // 下部 右
    .col-md-4
      #live.panel.panel-default
        .panel-heading
          h3.panel-title 生放送
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
